.navbar {
		background-color: blue;
		display : flex;
		justify-content: space-between;
		align-items: center;
		padding : 10px 25px;
	}
	.logo {
		display: flex;
		align-items: center;
		gap:10px;
	}
	.logo img {
		width : 50px;
		height: 50px;
		border-radius: 50%;
		object-fit:cover;
	}
	.text {
		display: flex;
		felx-direction: column;
		line-height: 1.1;
	}
	.judul {
		font-weight : bold;
		font-size: 18px;
	}
	.subjudul {
		font-size: 14px;
		color: grey;
	}
	.menu {
		list-style : none;
		display: flex;
		gap: 20px;
	}
	.menu a {
		color: black;
		text-decoration: none;
	}
	.menu a:hover {
		color:blue;
	}
	.menu li a {
		color: #ddd:
		text-decoration: none;
		font-size: 16px;
		transition: 0.3s;
		
		background-color: white;
		color: #007bff;
		padding: 10px 20px;
		text-deration: none;
		font-wight: bold;
		border-radius:5px;
	}
	.menu li a:hover {
		background-color: skyblue;
		color : white;
	}
	.btn {
		list-style: none;
		display: flex;
		gap: 20px;
	}
	.btn {
		color: white;
		text-decoration: none;
	}
	.btn:hover {
		color: white;
	}
	.btn {
	color: white;
	text-decoration: none;
	font-size: 16px;
	transition: 0.3s;

	background-color: blue; 
	color: white;
	padding: 10px 20px;
	text-decoration:none;
	font-weight: bold;
	border-radius: 5px;
	}
	
	.btn:hover {
		background-color: skyblue;
		color: white;
		}